<ion-content>

  <div class="create-new-account-bg">
    <div class="create-new-account-text">
      <h3>Login</h3>
      <p>Sign in to continue</p>
    </div>
  </div>

  <div class="registration-page-form">

    <ion-list>
    
      <ion-item lines="none" class="form-field ion-no-padding"  style="--inner-padding-end: 0 !important;">
        <ion-label position="stacked"  class="ion-label-text"> PLEASE ENTER YOUR EMAIL</ion-label>
        <ion-input placeholder="hello@reallygreatsite.com"></ion-input>
      </ion-item>
      <ion-item lines="none" class="form-field ion-no-padding"  style="--inner-padding-end: 0 !important;">
        <ion-label position="stacked" class="ion-label-text">PLEASE ENTER YOUR PASSWORD</ion-label>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
    
    </ion-list>


    <ion-button expand="block" class="norbel-btn">Login</ion-button>
  </div>



</ion-content>